<!DOCTYPE html>
<html lang="en">
  <head>

    <title>Document</title>
    
  </head>
  <body>
    <h2 class="text-center mt-2 mb-4">About Us</h2>
    <p class="lead">
      Pharmacy Information Management System (PIMS) software is a specialized
      software solution designed to manage and streamline various aspects of
      pharmacy operations. It provides comprehensive tools and functionalities
      to handle tasks such as inventory management, prescription processing,
      patient profiles, billing, reporting, and more. PIMS software helps
      pharmacies improve efficiency, accuracy, and overall workflow, making it
      an essential tool for modern pharmacy management.
    </p>
  </body>
</html>
