<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous" />
    <title>Pims</title>
    <style>
        #banner {
            height: 360px;
            object-fit: cover;
            width: 100%;
            object-fit: cover;
            margin-bottom: 16px;
        }
    </style>
</head>
<body style="color: #000000;">
    {% include 'nav.html' %}
    <h2 class="text-center" style="font-family: 'Courier New', Courier, monospace;">
        Pharmacy information management system
    </h2>
    <img src="/static/images/pharmac.jpg" class="img-fluid" id="banner" alt="pharmacy" height="320" />
    <div class="container">
        <h2 class="text-center mt-2 mb-4" style="font-family: 'Courier New', Courier, monospace;">About Us</h2>

        <p class="lead">
            Pharmacy Information Management System (PIMS) software is a specialized
            software solution designed to manage and streamline various aspects of
            pharmacy operations. It provides comprehensive tools and functionalities
            to handle tasks such as inventory management, prescription processing,
            patient profiles, billing, reporting, and more. PIMS software helps
            pharmacies improve efficiency, accuracy, and overall workflow, making it
            an essential tool for modern pharmacy management.
        </p>

        <div class="text-center">
            <a href="mailto:bekitena34@gmail.com?subject=requesting for medicine" target="_blank" mt-2 mb-4">contact
                us</a>
            <div>{% include 'footer.html' %}</div>
        </div>
    </div>
</body>

</html>