<!DOCTYPE html>
<html>

<head>
    <title>Pharmacy Information Management System</title>
    <link rel="stylesheet" type="text/css" href="/static/styles/landing.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="navv">
        <nav>
            <ul>
                <li><a href="#section1">Employee Management</a></li>
                <li><a href="#section2">Inventory Management</a></li>
                <li><a href="#section3">Medication Management</a></li>
                <li><a href="#section4">Reporting</a></li>
                <li><a class="nav-link active" aria-current="page" href="{{ url_for('home') }}">login</a></li>
            </ul>
        </nav>
    </div>
    <header>
        <h1>Pharmacy Information Management System</h1>
        <p>Welcome to our pharmacy system. Manage your pharmacy's inventory, medications, and more.</p>
    </header>

    <section class="features">
        <div class="feature">
            <img src="/static/images/inv.png" alt="Inventory Icon">
            <h2>Inventory Management</h2>
            <p>Track and manage your pharmacy's inventory of medications and supplies.</p>
        </div>

        <div class="feature">
            <img src="/static/images/med.jpeg" alt="Medication Icon">
            <h2>Medication Database</h2>
            <p>Store and access information about medications, including dosage, interactions, and more.</p>
        </div>

        <div class="feature">
            <img src="/static/images/report.jpeg" alt="Report Icon">
            <h2>Reporting</h2>
            <p>Generate reports on sales, stock levels, and other key metrics for your pharmacy.</p>
        </div>
    </section>
    <section id="about">
        <h2>About</h2>
        <p>This project was inspired by me and my friends personal experience working in the pharmacy. I realized the
            need for an efficient system to manage Employe, inventory, sales, and other pharmacy-related operations. The
            Pharmacy Information Management System aims to create and deploye an automated pharmacy information
            management system which improves overall working load that happens on paper based pharmacy information
            management system.</p>
        <p>This is a Portfolio Project for Holberton School, I developed this system as part of my coursework. You can
            find
            the project repository on GitHub:</p>
        <a href="https://github.com/bekiyeromm/portfolio_project/" target="_blank">GitHub Repository</a>
        <h3>Team Members</h3>
        <ul>
            <li><a href="https://www.linkedin.com/in/bereket-tena-43a171125/" target="_blank">Bereket Tena LinkedIn</a>
            </li>
            <li><a href="https://github.com/bekiyeromm" target="_blank">Bereket Tena GitHub</a></li>
            <li><a href="https://twitter.com/BereketTena1" target="_blank">Bereket Tena Twitter</a></li>
        </ul>
    </section>
    <section class="cta">
        <h2>get started</h2>
        <a href="/login" class="btn">Sign in</a>
    </section>

    <!-- <script src="/static/scripts/"></script> -->
</body>

</html>