<!DOCTYPE html>
<html>
<head>
  <title>Login Form</title>
  <link rel="stylesheet" type="text/css" href="/static/styles/login.css">
</head>
<body>
  <div class="container">
    <h1>Login</h1>
    <form>
      <label for="username">Username</label>
      <input type="text" id="username" placeholder="Enter your username">

      <label for="password">Password</label>
      <input type="password" id="password" placeholder="Enter your password">

      <input type="submit" value="Login">
    </form>
  </div>
</body>
</html>
