<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/styles/nav.css">
    <title>Pims</title>
  
</head>
<body>
  <nav>
    <div>
      <a class="active" href="{{ url_for ('main') }}"> Home</a>
      <a href="{{ url_for ('drugg_reg') }}"> Register Drug</a>
      <a href="{{ url_for('display_drug') }}"> Show Drug</a>
      <a href="{{ url_for('sel_drug') }}"> Sell Drug</a>
      <a href="{{ url_for('show_sold_drug') }}"> show Sold Drug</a>
      <a href="{{ url_for('reg_employe') }}">Register Employee</a>
      <a href="{{ url_for('display_all_employe') }}"> Show Employee</a>
      <a href="{{ url_for('inventory_reg_form') }}"> Inventory</a>
      <a href="{{ url_for('display_inventory_data') }}"> show Inventory</a>
    </div>
    <div>
      <a class="nav-link active" aria-current="page" href="{{ url_for('home') }}">Logout</a>
    </div>
  </nav>
</body>
</html>
