<!DOCTYPE html>
<html>

<head>
    <title>Sales Receipt</title>
    <link rel="stylesheet" href="/static/styles/table.css">

</head>

<body>
    <h2>Sales Receipt</h2>
    <table>
        <tr>
            <th>Sale ID</th>
            <th>Inventory ID</th>
            <th>Quantity Sold</th>
            <th>Price</th>
            <th>Sale Date</th>
            <th>Total Price</th>
        </tr>
        <tr>
            <td>{{ sale_id }}</td>
            <td>{{ inventory_id }}</td>
            <td>{{ quantity }}</td>
            <td>{{ price }}</td>
            <td>{{ sales_date }}</td>
            <td>{{ total_price }}</td>
        </tr>
    </table>
    <button onclick="printTable()">Print</button>
    <script src="/static/scripts/print.js"></script>
</body>

</html>