body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 300px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    margin-top: 100px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="password"] {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  