    nav {
      background-color: #126b86;
      overflow: hidden;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
    }

    nav a {
      color: white;
      text-decoration: none;
      font-size: 17px;
      margin: 0 10px;
    }

    nav a:hover {
      color: #4CAF50;
    }

    /* Style the navigation menu for small screens */
    @media screen and (max-width: 600px) {
      nav {
        flex-direction: column;
        padding: 10px 0;
      }
      
      nav a {
        margin: 5px 0;
      }
    }